body {
    background-color: #121619;
}

#header {
    font-family: "Poppins", sans-serif;
    padding: 20px;
    margin-left: -1.5vw;
    color: #2D4739;
    background-color: #E5C687;
    text-align: left;
    border-width: 20px;
    border: #BCB382;
    width: 100vw;
    box-sizing: border-box;
}

.container {
    font-family: "Poppins", sans-serif;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 2vw;
    text-align: center;
}

.card {
    width: 22%;
    height: 30vh;
    color: #301A4B;
    background-color: #6DB1BF;
    padding: 2vw;
    border-style: solid;
    border-width: 0.5vw;
    border-color: #FFEAEC;
    border-radius: 2vw;
    box-sizing: border-box;
	box-shadow: 0.5vw 0.5vw 9px 0px #E5C687;
    margin-bottom: 2vmin;
    font-size: 2.5vmin;
    overflow: hidden;
}

.card img {
    height: 80%;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 900px) {
    .card {
        font-size: 2vmin;
    }
}

.spin:hover {
    animation: growspin 1.5s ease-in-out forwards, spin 1.5s infinite ease-in-out 1.5s
}

@keyframes spin {
    0% {
        transform: rotate(0deg) scale(1.2);
    }
    100% {
        transform: rotate(360deg) scale(1.2);
    }
}
@keyframes growspin {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(1.2) rotate(360deg);
    }
}

.border_change:hover {
    transform: scale(1.1);
    border-color: #E5C687;
    box-shadow: none;
}

.flip-y {
    transition: transform 1s ease-in-out;
}
.flip-y:hover {
    transform: rotateY(360deg);
}

.flip-x{
    transition: transform 2.5s ease-in-out;
}
.flip-x:hover {
    transform: rotateX(180deg);
}

.border_expand {
    transition: border-width 0.5s ease-in-out;
}
.border_expand:hover {
    border-width: 0px;
}

.yellow {
    transition: background-color 2s ease-in-out;
}
.yellow:hover {
    background-color: #E5C687;
}